#gameboard {
    width: 320px;
    height: 320px;
    display: flex;
    flex-wrap: wrap;
}

.square {
    height: 40px;
    width: 40px;
    position: relative;
}

.square svg {
    height: 30px;
    width: 30px;
    margin: 5px;
    position: relative;
    z-index: -9;
}

path {
    position: relative;
    z-index: -10;
}

.piece {
    position: relative;
    z-index: 9;
}

.whiteSpot {
    background-color: rgb(191, 148, 228);
}

.blackSpot {
    background-color: purple;
}

.black {
    fill: black;
}

.white {
    fill: lavender;
}