body {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#gameboard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.square {
    position: relative;
    aspect-ratio: 1;
    padding: 10px;
}

.square svg {
    height: 70px;
    width: 70px;
    margin: 5px;
    position: relative;
    z-index: -9;
}

path {
    position: relative;
    z-index: -10;
}

.piece {
    position: relative;
    z-index: 9;
}

.whiteSpot {
    background-color: rgb(191, 148, 228);
}

.blackSpot {
    background-color: purple;
}

.black {
    fill: black;
}

.white {
    fill: lavender;
}